@use "../../assets/styles/common.scss" as *;

.custom-button {
    background-color: $secondary-color;
    color: black;
    // font-size: 16px;
    font-weight: bold;

    padding: 9px 20px;
    border-radius: 10px;

    width: fit-content;
    height: 40px;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-button:hover {
    background-color: $secondary-color-pointer;
}