@use "../../../assets/styles/common.scss" as *;

.event-card-container {
    margin-right: 20px;
    min-width: 250px;
    padding: 30px 10px 10px 10px;
    border-radius: 19px;

    background-color: $secondary-color;

    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    img {
        border-radius: 10%;
        width: 100%;
        max-width: 250px;
        max-height: 250px;
    }
}
.event-card-container:hover {
    background-color: $secondary-color-pointer;
}

.event-card-description {
    max-height: 105px;
    overflow: hidden;
    font-size: 14px;
    // line-height: 1.2;
    // white-space: nowrap;
    // overflow: hidden;
    text-overflow: ellipsis;
}