@use "../../assets/styles/common.scss" as *;

.news-widget-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.news-widget-card {
    display: flex;

    img {
        max-width: 200px;
        max-height: 200px;
        border-radius: 7px;
    }

    @media screen and (min-width: 610px) {
        flex-direction: row;
        gap: 30px;
    }
    @media screen and (max-width: 609px) {
        flex-direction: column;
        gap: 10px;
    }
}

.news-widget-card-text {
    display: grid;
    grid-template-rows: 30px 1fr 1frpx;

    h3 { 
        margin: 0;
        padding: 0;
    }

    p {
        margin: 0 0 10px 0;

    }

}
