@use "../../assets/styles/common" as *;

.carusel_wrapper {
    display: flex;
    flex-direction: column;
    //gap: $titles_gap;
    height: fit-content;
}

.carusel_wrapper:focus {
    outline: none;
    border:none;
}


.slider_container {
    position: relative;

    @media screen and (min-width: $width-devider-micro-screen) and (max-width: $width-devider-mobile) {
        //height: 83px;
        margin-bottom: 20px;
    }
}

//.carusel_first_line {
//    display: grid;
//    grid-template-columns: 1fr 125px;
//    gap: 10px;
//}

.carusel_arrow_area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.carusel_arrow_div {
    width: 80px;
    height: 44px;
    background-color: #3D4348;
    border-radius: 8px;

    border: 1px solid #1B1B1B;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.carusel_arrow_div:hover {
    background-color: #2D2D2D;
    transition: background-color 0.3s ease
}

.carusel_arrow_div:active {
    background-color: #2A2A2A;
}

.carusel_arrow_div:disabled {
    background-color: #3D4348;
}


.carusel_arrow_div_on_slides {
    //width: 80px;
    //height: 44px;
    background-color: transparent;

    border: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.carusel_buttons_padding_right {
    @media screen and (min-width: 1440px) {
        padding-right: $main-side-padding-large;
    }
    @media screen and (min-width: 1133px) and (max-width: 1440px) {
        padding-right: $main-side-padding-middle;
    }
    @media screen and (max-width: 1133px) {
        padding-right: $main-side-padding-small;
    }
}

.carusel_buttons_on_slides {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.7rem;
    position: absolute;
    pointer-events: none;
    z-index: 10;
}

.carusel_buttons_on_slides > * {
    pointer-events: auto;
}



.carusel_dots {
    display: flex;
    justify-content: center;
    button {
        pointer-events: none;
        height: 12px;
        width: 12px;
        margin: 5px;
        border-radius: 50%;
        border: none;
        background-color: #323335;
        transition: background-color 0.3s ease, transform 0.3s ease;
        cursor: default;

        padding: 0;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        &.carousel__dot--selected {
            background-color: white;
        }
    }
}

.arrow {
    fill: #E8EAED;
    transition: fill 0.3s ease;

    &:hover {
        fill: $green_color
    }
}

.arrow.disabled {
    fill: #84848C;
    pointer-events: none;
}